.search_place {
  border-radius: 5px;
  padding: 5px;
}
.nva_inline {
  display: inline;
}
/*Style for Navbar2*/
.navbar2 {
  padding: 0 15px;
  box-shadow: 0 2px 4px 0 rgba(177, 175, 175, 0.19),
    0 3px 10px 0 rgba(177, 175, 175, 0.19);
}
.small_font {
  font-size: 15px;
}
.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}
/*Style for Navbar2*/

/*Style of khmer font*/
.khm_font {
  font-family: "Nokora", serif;
}
/*Style of khmer font*/

/*Background color for first container*/
.bg-purple {
  background-color: rgb(137, 11, 240);
}
.lh-1 {
  padding: 0 10px;
}
.text-end {
  text-align: right !important;
}
/*Background color for first container*/
